.comment__box {
  position: relative;
  background: rgba(222, 222, 220, 0.2);
  padding: 1rem;
  border-radius: 1rem;
  right: 0%;
  top: 2%;
  min-width: 23rem;
  display: flex;
  flex-direction: column;
}

.comment__box .user__profile {
  padding: 1px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.comment__box .textbox {
  display: flex;
  gap: 1rem;
}

.comment__box .textarea {
  height: 7rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  background-color: rgba(29, 19, 19, 0.5);
  color: #ccc;
  text-indent: 1rem;
  width: 22rem;
  padding-top: 1rem;
}

.comment__box .btnbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment__box .h3 {
  font-size: 1.5rem;
}

.comment__box .comment__content {
  background-color: transparent;
  margin-top: 0rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  width: 70%;
  height: 5rem;
}

.commentlist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.commentlist .comment__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 23rem;
}

.comment__inputbox {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  justify-content: space-between;
}

.button {
  height: 3rem;
  font-size: 0.8rem;
  padding: 1rem;
}

.commentlist + .user .user__image {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 767px) {
  .comment__box {
    right: 0%;
    min-width: 26rem;
  }

  .comment__box .textarea {
    width: 17rem;
  }
}
@media (max-width: 480px) {
  .comment__box {
    right: 0%;
  }

  .comment__box .textarea {
    width: 100%;
    height: 10rem;
  }
}

@media (max-width: 380px) {
  .comment__box {
    top: -5%;
    min-width: 20rem;
  }

  .comment__box .textarea {
    height: 7rem;
    color: #ccc;
    text-indent: 0.5rem;
    width: 12rem;
  }
}
