.dashboard__feeds {
  margin-top: 23rem;
  margin-left: 11rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 2rem 4rem;
  border-radius: 2rem;
  background: rgba(225, 255, 255, 0.2);
  color: aliceblue;
  min-width: 36rem;
  width: 56rem;
  min-height: 38rem;
  display: flex;
  flex-direction: column;
}

.dashboardfeeds__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.leftbox {
  background: rgba(006, 006, 006, 0.2);
  padding: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
}

.leftbox .h1 {
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.contentbox a {
  color: green;
  font-weight: bold;
  font-size: 0.7rem;
  &:hover {
    letter-spacing: 1px;
  }
}

.leftbox .p {
  font-size: 1rem;
  letter-spacing: 1px;
  max-width: 18rem;
}

.dashboardfeeds__nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  background: rgba(005, 005, 005, 0.2);
  color: #e67e22;
}

.dashboardfeeds__nav .h3 {
  font-weight: bold;
  font-size: 1.3rem;
  background: rgba(256, 256, 256, 0.1);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.post__box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.post {
  flex: 1 1 30rem;
  background: transparent rgba(250, 250, 220, 0.2);
  box-shadow: 4px 4px 4px 4px rgba(250, 250, 220, 0.2);
  min-width: 28rem;
  width: 48rem;
  border-radius: 1rem;
  padding: 2rem;
  line-height: 1.1;
  margin-bottom: 4rem;
  cursor: pointer;
}

.postdetails {
  flex: 1 1 30rem;
  background: rgba(263, 260, 260, 0.6);
  box-shadow: 4px 4px 4px 4px rgba(250, 250, 220, 0.2);
  min-width: 28rem;
  width: 50rem;
  border-radius: 1rem;
  padding: 2rem;
  line-height: 1;
  margin-bottom: 4rem;
  cursor: pointer;
  position: relative;
}

.container {
  background-color: "#f8f8f8";
  padding: 20px;
  border-radius: 8px;
  color: "#333";
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}
.summary {
  font-size: 16px;
}

.user {
  display: flex;
  gap: 1rem;
}

.user__profile {
  display: flex;
  gap: 2rem;
}

.user__image {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    opacity: 0.7;
  }
}

.post .user__image {
  width: 3.5rem;
  height: 3.5rem;
}

.postdetails .user__image {
  width: 4.5rem;
  height: 4.5rem;
}

.user__image .svg {
  fill: #e67e22;
}

.user__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.userrole {
  color: #e67e22;
  font-weight: bold;
}

.user__info div {
  display: flex;
  gap: 1rem;
}

.post .user__info div {
  gap: 1rem;
}

.username {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 1rem;
  &:hover {
    text-decoration: underline;
  }
}

.post .contentbox {
  display: flex;
  gap: 3rem;
  margin-bottom: 1rem;
}

.post .contentbox > * {
  flex: 1 1 50%;
}

.post .image {
  width: 94%;
  height: 11rem;
}
.post .postimage {
  width: 94%;
  height: 16rem;
  margin-bottom: 1rem;
}

.post .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.post .postimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.post .h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  max-width: 90%;
  text-transform: uppercase;
}

.post .desc {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  color: aliceblue;
  max-width: 28rem;
  text-transform: capitalize;
}

.post .contentbox .p {
  font-size: 1rem;
}

.postdetails .p {
  margin-bottom: 2rem;
}

.post a,
.p1 {
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.post .reactionbox {
  border-top: var(--border);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 0.4rem;
  border-bottom: 2px solid #e67e22;
  border-top: 2px solid #e67e22;
}

.post .reactionbox div {
  color: aliceblue;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post .reactionbox .right .button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}

.post .reactionbox div:hover {
  color: var(--light);
  letter-spacing: 0.1rem;
}
.post .reactionbox .svg {
  color: green;
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 1rem;
  margin-top: 0rem;
}

.svg {
  height: 1.8rem;
  width: 1.8rem;
}

.post .reactionbox .right {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.post .reactionbox .left {
  margin-right: 1rem;
  margin-top: -1rem;
}

.post .reactionbox .right .icon {
  margin-right: 1rem;
  margin-top: -0.5rem;
  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: 767px) {
  .dashboard__feeds {
    margin-left: -2rem;
    padding: 1rem;
    width: 40rem;
  }

  .post {
    min-width: 27rem;
    width: 33rem;
    margin-bottom: 2rem;
  }

  .post .h2 {
    font-size: 1.4rem;
  }

  .user__profile {
    flex-direction: column;
    gap: 2rem;
  }

  .user__info div {
    gap: 0.5rem;
  }

  .username {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .post .image {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 640px) {
  .dashboard__feeds {
    width: 36rem;
  }
}

@media (max-width: 480px) {
  .dashboardfeeds__nav {
    display: none;
  }
  .dashboard__feeds {
    margin-left: -1rem;
    margin-right: 0.5rem;
    margin-top: 17rem;
    border: none;
    padding: 2rem 1rem;
    width: 32rem;
  }

  .leftbox {
    padding-right: 2rem;
    margin-left: 1rem;
  }

  .leftbox .p {
    display: none;
  }

  .dashboardfeeds__header {
    margin-left: -1rem;
    justify-content: flex-start;
    gap: 4rem;
  }

  .dashboardfeeds__header .button {
    width: 12rem;
  }

  .reactionbox .button {
    width: 9rem;
  }

  .user__profile {
    flex-direction: row;
  }

  .post__box {
    gap: 2rem;
    width: 90%;
  }

  .post {
    padding-left: 0.5rem;
    width: 26rem;
    margin-bottom: 1rem;
  }

  .postdetails {
    margin-left: -1rem;
  }

  .post .image {
    width: 24rem;
    height: 8rem;
    margin-bottom: 1rem;
  }

  .post .contentbox {
    flex-direction: column;
    gap: 2rem;
  }

  .post .contentbox .p {
    font-size: 0.8rem;
  }

  .post .postheader h2 {
    font-size: 1.1rem;
  }
  .post .postheader p {
    font-size: 1rem;
  }

  .post .contentbox img {
    margin-top: -7rem;
  }

  .post .reactionbox {
    width: 95%;
  }
  .postdetails .reactionbox {
    width: 96%;
  }

  .postdetails .reactionbox .right {
    margin-left: 3rem;
  }
  
  .post .reactionbox .left {
    margin-right: 1rem;
  }  

  .postdetails .reactionbox .left {
    margin-right: 3rem;
    margin-left: 1rem;
  }

  .post .reactionbox .svg {
    margin-right: 0.5rem;
  }

  .post .reactionbox .right {
    gap: 1rem;
    margin-left: -1rem;
  }

  .post .reactionbox .right .icon {
    margin-right: 2rem;
    &:hover {
      opacity: 0.3;
      letter-spacing: 1px;
    }
  }
}

@media (max-width: 320px) {
  .dashboard__feeds {
    width: 29rem;
    padding: 1rem;
    margin-left: -2rem;
  }

  .dashboardfeeds__header .button {
    width: 12rem;
  }

  .leftbox {
    padding-right: 1rem;
    margin-left: 1rem;
  }
  .leftbox .h1 {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .leftbox .p {
    display: none;
  }

  .user__profile {
    flex-direction: row;
  }

  .post__box {
    width: 88%;
    gap: 1rem;
  }

  .post {
    padding-left: 1rem;
    width: 26rem;
  }

  .post .image {
    width: 23rem;
  }

  .post .p {
    font-size: 0.8rem;
  }

  .post .reactionbox .button {
    width: 9rem;
  }

  .post .reactionbox .right .icon {
    margin-right: 1rem;
  }
}
