.section {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}
.post__box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4rem;
}

.post__box .header {
  margin: 0 auto;
}

.post__box .header .h1 {
  text-align: center;
  color: #ccc;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.post__box .header .p {
  max-width: 93rem;
  font-size: 1.3rem;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}

.post__box .post {
  flex: 1 1 18rem;
  max-width: 20rem;
  background: rgba(2, 1, 1, 0.3);
  box-shadow: 6px 4px 4px rgba(250, 250, 220, 0.2);
  height: 24rem;
  border-radius: 1rem;
  padding: 2rem;
  border-top: 0.5rem dotted #e67e22;
  border-left: 0.5rem dotted #e67e22;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-top-right-radius: 6rem;
}

.post__box .h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: .5rem;
  color: #ccc;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.post__box .p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #ccc;
  max-width: 20rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.post__box .post .svg {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(250, 250, 220, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.post__box .post .ssvg {
  width: 3rem;
  height: 3rem;
  fill: #e67e22;
}

@media (max-width: 480px) {
  .section {
    margin-bottom: 2rem;
    padding-bottom: 0;
  }

  .posts {
    gap: 4rem;
  }

  .post__box .header .h1 {
    font-size: 2rem;
  }
  
}
